.elementor-widget-onlineada-membersnav .mobile-menu.limelight-navigation {
    position: relative;
    overflow: hidden;
    transition: flex 0.3s ease-out, width 0.3s ease-out;
    height: auto;
    flex: 0;
    width: 80px;
}

.elementor-widget-onlineada-membersnav .mobile-menu.limelight-navigation .nav-mobile {
    overflow: hidden;
}

.elementor-widget-onlineada-membersnav .mobile-menu-button-wrapper {
    position: relative;
    max-width: 80px;
    width: 80px;
    background-color: #3f3244;
    transition: width 0.3s ease-out, max-width 0.3s ease-out;
}

.elementor-widget-onlineada-membersnav.open .mobile-menu-button-wrapper {
    max-width: 100%;
    width: 100%;
}

.elementor-widget-onlineada-membersnav.open .mobile-menu.limelight-navigation {
    flex: 1;
    width: 100%;
}

.elementor-widget-onlineada-membersnav .collapsible-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}