.start-scan{
	margin-top:15px;
	background-color:#3F3244;
	color:#fff;
	border-radius:3px;
}
.body-wrap{text-align: center;}
.head-wrap{text-align:center;padding-bottom:10px;}
.scan-message{padding-top:20px}
.loader {
  font-size: 5px;
  margin: 30px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #3F3244;
  background: -moz-linear-gradient(left, #3F3244 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #3F3244 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #3F3244 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #3F3244 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #3F3244 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: transparent;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #E6E6E6;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
