@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.grid{padding:0 !important;}
main{background-color:white;}
body{ background:initial !important; }
@media (min-width: 600px){
    .date-wrap{
        color: #201223;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.83px;
        text-align: right;
    }
    .free-banner .logo{
        flex: 0 0 12%;
        max-width: 12%;
        -ms-flex:0 0 12%;
        padding: 0 0 0 15px;
        min-width: 100px;
    }
    .logo-wrap{ max-width:210px; }
    .logo-wrap .logo{ width:100%; }
    .spacer-100 { display:block;width:100%;height:100px; }
    .spacer-50 { display:block;width:100%;height:50px; }
    .title-section .header{
        color: #201223;
        font-family: "Josefin Sans";
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
    }
    .title-section .subheader {
        color: #0088ac;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
    }
    .section-divider{ display:flex; align-items:center; }
    .section-divider > .left{
        color: #201223;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 800;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 0.87px;
    }
    .section-divider.summary > .left{
        flex:0 0 32%;
    }
    .section-divider.summary > .right{
        border-top: 3px solid #dbdbdb;
        flex: 1 1 100%;
    }
    .section-divider.reports > .left{
        flex: 0 0 55%;
    }
    .section-divider.reports{ margin-bottom:0; }
    .section-divider.errors-found{ margin:0; }
    .section-divider.reports > .right{
        border-top: 3px solid #dbdbdb;
        flex: 1 1 100%;
    }
    .section-divider.errors-found > .left{
        color: #837e85;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.18px;
        flex: 1 1 90%;
        align-self: flex-start;
    }
    .section-divider.errors-found > .right{
        flex: 1 1 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-divider.errors-found > .right img{ width:100%; }
    .section-divider.errors-found > .right .img-wrap {
        width: 70px;
    }
    .section-divider.errors-found > .right .sub-header{
        color: #201223;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
    }
    .section-divider.errors-found >.right .pdf-viewer{
        color: #0088ac;
    }
    .section-divider.errors-found > .right .pdf-viewer .right{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 800;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }
    .section-divider.errors-found > .right .pdf-viewer { display:flex; }
    .section-divider.errors-found > .right .pdf-viewer .left {
        width: 30px;
        padding-right: 7px;
        align-self: center;
    }
    .report-block{ box-sizing:border-box;padding:20px; }
    .js-summary-img{ width:100%; }
    .section-divider{ margin: 50px 0px; }
    .summary-section .star-row img{ width: 35px; }
    .summary-section .domain-row{
        color: #0088ac;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        line-height: 1.3em;
    }
    .summary-section .description-row{
        color: #837e85;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
    }
    .summary-section .score-row {
        color: #201223;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 800;
        line-height: 1.3em;
    }
    .pages-scanned-block{
        background-color: rgba(239, 238, 240, 0.5);
        box-sizing: border-box;
        padding:10px 20px 20px;
        flex-wrap: wrap;
        height: 100%;
        display: flex;
    }
    .pages-scanned-block .header{
        color: #0088ac;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        flex-wrap:wrap;
        padding-top:10px;
    }
    .pages-scanned-block .sub-header {
        color: #201223;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.71px;
        margin-top:20px;
    }
    .pages-scanned-block .line-item {
        font-size: 16px;
        font-family: "Open Sans";
        letter-spacing: 0.1px;
        margin-top:20px;
    }
    .pages-scanned-block .line-item .left{
        color: #635965;
        font-weight: 700;
    }
    .pages-scanned-block .line-item .right {
        color: #201223;
    }
    .wcag-score-block{ padding-bottom:50px; }
    .wcag-score-block :nth-of-type(3),
    .wcag-score-block :nth-of-type(4){ padding-bottom:0px; }
    .wcag-score-block .score .wcag-icon {
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 2px 5px;
        margin-right:2px;
    }
    .wcag-score-block.contrast .score .wcag-icon.no-bg{
        background-color:transparent;
        width:35px;
        padding: 0 5px 0 0;
    }
    .wcag-score-block .score .wcag-icon.no-bg img{ width:100%; }
    .wcag-score-block .score{
        display: flex;
        align-items: center;
    }
    .wcag-score-block .score .star{ width:30px; padding: 0 2px; }
    .wcag-score-block .score .star img{ width:100%; }
    .wcag-score-block .level{
        color: #201223;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 800;
    }
    .wcag-score-block .errors,
    .wcag-score-block .warnings,
    .wcag-score-block .level {
        padding-top: 13px;
    }
    .wcag-score-block .errors .right,
    .wcag-score-block .warnings .right {
        padding-left:5px;
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
    }
    .wcag-score-block .errors,
    .wcag-score-block .warnings{
        display:flex;
    }
    .wcag-score-block .errors .left,
    .wcag-score-block .warnings .left{
        display:flex;
        align-items:center;
    }
    .wcag-score-block .errors .left,
    .wcag-score-block .warnings .left {
        width:20px;
    }
    .wcag-score-block .errors img,
    .wcag-score-block .warnings img {
        width:100%;
    }
    .section.reports .tabs{ display:flex; }
    .section.reports .tabs .tab{
        background-color: #bcdfe8;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        padding:15px 20px;
        cursor:pointer;
    }
    .section.reports .tabs .tab.active {
        background-color: #0088ac;
    }
    .section.reports .filter-wrap{
        width:100%;
        border-top:6px solid #0088ac;
    }
    .section.reports .filter{
        float:none;
        margin:initial;
        padding:10px 0px;
        background-color: #efeef0;
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
        display: flex;
        height:100%;
    }
    .section.reports .filters-row div:not(:last-child):not(:nth-child(3)){
        padding-right:5px;
    }
    .section.reports .filters-row > div{ padding-bottom:5px; }
    .section.reports .filters-row .filter .checkbox{
        display:block;
        width:22px;
        height:22px;
        background-color: #0088ac;
        position:relative;
    }
    .section.reports .filters-row .filter .checkbox::after {
        content: "";
        position: absolute;
        display: none;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        height: 14px;
        width: 8px;
        left: 7px;
        top: 3px;
    }
    .section.reports .filters-row .filter .checkbox.checked::after {
        display:block;
    }
    .invisible{
        visibility:hidden;
        position:absolute;
    }
    .input[type="checkbox"].invisible{ z-index:-10px; }
    .section.reports .filters-row .filter label{
        display: flex;
        align-items: center;
        width:100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .filter > label > span:nth-child(4){display:none;}
    .section.reports .filter .wcag-icon{
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 2px 4px;
        margin: 0 7px;
    }
    .section.reports .filter .wcag-icon.no-bg{
        background-color:transparent;
        width: 22px;
        height:22px;
        display:flex;
        padding:0;
    }
    .report-block img{ width:100%; }
    .filters-description-row .ll-col-8{ padding-right:5px; }
    .filters-description-row .wcag-desc,
    .filters-description-row .error-desc {
        padding: 20px 25px;
        background-color: rgba(239, 238, 240, 0.5);
        height: 100%;
    }
    .filters-description-row .line-item .left{
        color: #635965;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 18px;
    }
    .filters-description-row .line-item .right{
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
    }
    .filters-description-row .line-item{ padding: 10px 0; }
    .filters-description-row{ border-bottom: 3px solid #dbdbdb; }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        height: 30px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        overflow:hidden;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid #201223;
        background-color: rgb(146, 145, 145);
        width: 54px;
        height: 30px;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .slider:before {
        position: absolute;
        content: "";
        top: -3px;
        left:-5px;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.58);
        border: 3px solid #201223;
        background-color: #ffffff;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .switch .label{
        color: #0088ac;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
        padding-bottom:5px;
    }
    input:checked+.slider {
        background-color: #0088ac;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px #0088ac;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .slider.round .show{
        position: absolute;
        left: -45px;
        top: 1px;
        font-size: 15px;
    }
    .slider.round .hide{
        position: absolute;
        right: -40px;
        top: 1px;
        font-size: 15px;
    }
    .hide-repeat-errors .slider{ left:60px; }
    .hide-unique-errors .slider{ left:50px; }
    .section.downloads > .header{
        box-sizing:border-box;
        padding:50px;
    }
    .section.downloads > .header .top{
        color: #201223;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        font-style:italic;
        padding-bottom:10px;
    }
    .section.downloads > .header > .right .bottom button{
        background-color: #0088ac;
        cursor:pointer;
        border-style:none;
    }
    .section.downloads > .header > .right .bottom button:first-of-type{ margin-right: 5px; }
    .section.downloads > .header > .right .bottom button .text{
        color:#fff;
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: "Open Sans";
    }
    .section.downloads > .header .right .bottom button .wcag-icon{
        width:25px;
    }
    .ll-tab-content .body .page-header{
        width:100%;
        background-color: #0088ac;
        box-sizing:border-box;
        padding:10px 15px;
        cursor:pointer;
    }
    .ll-tab-content .body .page-header .text{
        color:#fff;
        font-weight: 600;
        font-family: "Open Sans";
        font-size:20px;
        word-break: break-all;
    }
    .ll-tab-content .body .page-header .ll-arrow{
        height: 25px;
        width: 25px;
        right:0px;
        border: 4px solid;
        position: relative;
        transform: rotate(45deg);
        border-top-color: #fff;
        border-left-color: #fff;
        border-bottom-color: transparent;
        border-right-color: transparent;
        top: 7px;
        bottom:initial;
    }

    .ll-tab-content .body .page-header.expanded .ll-arrow{
        transform: rotate(45deg);
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #fff;
        border-right-color: #fff;
        top:initial;
        bottom: 7px;
    }
    .ll-tab-content{ display:none; }
    .ll-tab-content.active{ display:block; }
    .ll-tab-content .body .page-content{
        height:0 !important;
        overflow:hidden;
        transition: height .5s ease;
    }

    .ll-tab-content .body .page-content,
    .ll-tab-content .body .row-content,
    .ll-tab-content .body .row-content > .ll-row { width:100%;}

    .ll-tab-content .body .row-content { padding:20px; }

    .ll-tab-content.tab-1 .body .row-content,
    .ll-tab-content.tab-1 .body .row-content .wcag-icon { display:none; }

    .ll-tab-content .body .row-content:not(:last-of-type){ border-bottom: 1px solid #a5a0a7; }
    .ll-tab-content .body .row-content .ll-row > .left .icon-wrap{ width:22px; }
    .ll-tab-content .body .row-content .ll-row > .left .wcag-icon {
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0px 3px;
        margin-bottom: 5px;
    }
    .ll-tab-content.tab-1 .body .row-content .ll-row > .left > :nth-child(3){ margin-left:auto; }

    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .header,
    .ll-tab-content.tab-2 .body .row-content .header{
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        padding-bottom:5px;
        display:flex;
    }

    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .header a,
    .ll-tab-content.tab-2 .body .row-content .header a{ color: #201223; }

    .ll-tab-content.tab-2 .body .row-content .line-items > .line-item,
    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .line-item{
        font-family: "Open Sans";
        color: #201223;
        font-size:14px;
        padding:5px;
        position:relative;
    }
    .ll-tab-content .body .row-content .line-item > .left,
    .ll-tab-content .body .row-content .ll-row > .right .line-item .left{
        font-weight: 700;
        text-transform: uppercase;
        padding-right: 5px;
    }
    .ellipses,
    .table{
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        line-height:1.3em;
    }
    .ellipses.expanded,
    .table.expanded{
        white-space: normal;
        word-break:break-all;
        padding-right:20px !important;
    }
    .ellipses + .after,
    .table + .after {
        position: absolute;
        right: -15px;
        height: 17px;
        width: 17px;
        border: 3px solid;
        bottom: 0px;
        transform: rotate(45deg);
        border-top-color: #0088ac;
        border-left-color: #0088ac;
        border-bottom-color: transparent;
        border-right-color: transparent;
        cursor:pointer;
        display:none;
    }
    .article-row .ellipses + .after{
        right: 4px;
        height: 13px;
        width: 13px;
        top: 12px;
    }
    .table + .after{
        display:block;
        right:10px;
        top: 10px;
        height: 13px;
        width: 13px;
    }
    .ellipses.expanded + .after,
    .table.expanded + .after{
        transform: rotate(45deg);
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #0088ac;
        border-right-color: #0088ac;
        top:0;
    }
    .table.expanded + .after{ top:3px; }
    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .line-item .right,
    .ll-tab-content.tab-2 .body .row-content .line-item > .right .line-item{
        font-weight: 400;
    }
    .toggle-switch{ display:none; }
    .section.downloads .header .left .top{ display:none; }
    .flag-a,
    .flag-aa,
    .flag-warning,
    .flag-error,
    .flag-contrast,
    .flag-s508{ display:flex !important; }

    .section.reports .page-content .row-content .wcag-icon.no-bg{
        background-color:transparent;
        padding:0;
        margin:auto auto 5px;
    }
    .row-content > .ll-row >.left{
        flex:0 0 13%;
        -ms-flex:0 0 13%;
        max-width:13%;
    }
    .row-content > .ll-row >.right{
        flex:1 1 87%;
        -ms-flex:1 1 87%;
        max-width:87%;
    }
    .ll-tooltip{
        background-color: #dbdbdb;
        font-size: 12px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0 5px;
        display: none;
        text-decoration: none;
        position: relative;
    }
    .ll-tooltip:after{
        content: "?";
        position:absolute;
        left: 7px;
        top: 1px;
    }
    .line-item .color-swatch{
        height:20px;
        width:20px;
        border: 1px solid;
        margin-left: 10px;
    }
    .img-representation{
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;
        height:100px;
        width:100%;
        border: 1px solid #201223;
    }
    .contrast-representation{
        padding: 20px 50px;
    }
    .full-width{ width:100%; }
    .article-row .line-item > .right .line-item > div {
        padding: 10px 20px 10px 10px;
        font-size:14px;
        border-bottom: 1px solid lightgray;
    }
    .article-row .line-item .line-item.flag-contrast .element{
        padding-right:0px !important;
        padding-left:0px;
        -ms-flex: 0 0 57%;
        flex: 0 0 57%;
        max-width: 57%;
    }
    .article-row .line-item .line-item:not(.flag-contrast) .element{
        padding-right:0px !important;
        padding-left:0px;
        -ms-flex: 0 0 47%;
        flex: 0 0 47%;
        max-width: 47%;
    }
    .article-row .line-item .line-item .page{ position:relative; }
    .article-row .line-item .line-item .page:after{
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0px;
        left: -7px;
        width: 6px;
        background: #eeeeef;
    }
    .article-row .line-item .line-item .element .ll-col-12{ padding-right:10px; }
    .article-row .line-item .line-item .page{
        padding-right:20px;
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        max-width:38%;
    }

    .article-row .line-item > .right .line-item:not(:first-child) .table + .after,
    .article-row .line-item > .right .line-item:not(:first-child) .ellipses + .after{
        top:20px;
    }
    .article-row .line-item > .right .line-item:not(:first-child) .table.expanded + .after,
    .article-row .line-item > .right .line-item:not(:first-child) .ellipses.expanded + .after{
        top:10px;
    }
    .article-row .line-item > .right .line-item:first-of-type div{ padding-top: 0px; }
    .article-row .line-item > .right .line-item:last-of-type > div{ border-bottom:0; }

    .article-row .line-item >.right .ll-col-11{
        word-break: break-all;
        position: relative;
        flex:0 0 98%;
        max-width:98%;
        -ms-flex: 0 0 98%;
    }
    .article-row .line-items > .line-item > .right{
        max-width:95%;
        flex: 0 0 95%;
        -ms-flex: 0 0 95%;
    }
    .article-row .line-item .icons .wcag-icon{
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0px 4px;
        margin:0 3px;
        display:none;
    }
    .article-row .line-item .icons img.wcag-icon{
        background-color:transparent;
        padding:0;
        width:20px;
    }
    .article-row .line-item .icons{
        padding-right:0 !important;
        padding-left:0 !important;
        align-items: flex-start;
    }
    .article-row .line-item .line-item{ display:none; }
    .article-row .ellipses.expanded + .after{ top:3px; }
    .article-row .line-items .line-item:not(:first-child) .page:after{ top: -10px; }
    .tooltip{
        position: absolute;
        background: #fff;
        color: black;
        width: 200px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
        border:5px solid;
        z-index: 1;
    }

    .tooltip.filter-a{
        transform: translate3d(100px, -94px, 0px) !important;
    }
    .tooltip.filter-aa{
        transform: translate3d(107px, -147px, 0px) !important;
    }
    .tooltip.filter-508{
        transform: translate3d(-75px, -94px, 0px) !important;
    }
    .tooltip.filter-contrast{
        transform: translate3d(90px, -96px, 0px) !important;
    }
    .tooltip.filter-error{
        transform: translate3d(85px, -110px, 0px) !important;
    }
    .tooltip.filter-warning{
        transform: translate3d(-71px, -128px, 0px) !important;
    }
    .tooltip .tooltip-inner img{
        width: initial;
        position: absolute;
        left: -5px;
    }
    .tooltip.filter-a .tooltip-inner img{
        top: 56px;
    }
    .tooltip.filter-aa .tooltip-inner img{
        top: 110px;
    }
    .tooltip.filter-508 .tooltip-inner img{
        top: 56px;
        left: 147px;
        transform: rotateY(180deg);
    }
    .tooltip.filter-contrast .tooltip-inner img{
        top: 56px;
    }
    .tooltip.filter-error .tooltip-inner img{
        top: 74px;
    }
    .tooltip.filter-warning .tooltip-inner img{
        top: 92px;
        left: 147px;
        transform: rotateY(180deg);
    }

    .tooltip .tooltip-arrow{
        display:none;
    }
    .tooltip[x-placement^="top"] .tooltip-arrow{
        display:none;
    }
    .tooltip.learn-more{
        background: #fff;
        color: black;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
        border: 5px solid;
        width: 240px;
        /* margin: 0 0 0 15px; */
        left: 20px !important;
        top: 21px !important;
        /* transform: translate3d(165px, 34px, 0px) !important; */
        display:none;
    }
    .tooltip.learn-more .tooltip__arrow{
        display:none;
    }
    .tooltip.learn-more .tooltip__inner{ font-size:14px;font-weight:normal;line-height: 1.3em; }
    /* .tooltip.learn-more .tooltip__inner a{ text-decoration:none; } */
    .tooltip.learn-more[x-placement^="right"] .tooltip__arrow{
        display:none;
    }
    .tooltip.learn-more .tooltip__inner img{
        position: absolute;
        width: initial !important;
        left: 50px;
        top: -41px;
        transform: rotateX(180deg);
    }
    .tooltip.learn-more .wcag-excerpt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display:none;
    }
    .scores-row{ margin-top: 60px; }
    .section.downloads .right{ width:100%; }
    .tooltip.learn-more.contrast img{
        left: 155px;
        transform: rotateX(180deg) rotateY(180deg);
    }

}

@media (max-width: 1079px){
    .title-section{ text-align:center; }
    .logo-wrap{ margin:auto; }
    .date-wrap{ text-align:center; }
    .summary-section{ text-align:center; }
    .pages-scanned-block{
        display:block;
        text-align:center;
    }
    .wcag-score-block .errors, .wcag-score-block .warnings, .wcag-score-block .level{
        justify-content: center;
        text-align: center;
    }
    .wcag-score-block .score{ justify-content: center; }
    .section.reports .tabs{ text-align:center; line-height: 1.8em; }
}

@media (min-width: 1080px){
    .date-wrap{
        color: #201223;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.83px;
        text-align: right;
    }
    .free-banner .logo{
        flex: 0 0 12%;
        max-width: 12%;
        -ms-flex: 0 0 12%;
        padding: 0 0 0 15px;
        min-width: 100px;
    }
    .spacer-100 { display:block;width:100%;height:100px; }
    .spacer-50 { display:block;width:100%;height:50px; }
    .title-section .header{
        color: #201223;
        font-family: "Josefin Sans";
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
    }
    .title-section .subheader {
        color: #0088ac;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
    }
    .section-divider{
        display:flex; align-items:center;
        margin: 50px 0px;
    }
    .section-divider.summary > .left{
        flex: 0 0 15%;
    }

    .section-divider.reports > .left{
        flex: 0 0 26%;
    }
    .section-divider.reports{ margin-bottom:0; }
    .section-divider.errors-found{ margin:0; }
    .section-divider.errors-found > .left{
        color: #837e85;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.18px;
        flex: 1 1 70%;
        align-self: flex-start;
    }
    .section-divider.errors-found > .right{
        flex: 1 1 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-divider.errors-found > .right img{ width:100%; }
    .section-divider.errors-found > .right .img-wrap {
        width: 70px;
    }
    .section-divider.errors-found > .right .sub-header{
        color: #201223;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
    }
    .section-divider.errors-found >.right .pdf-viewer{
        color: #0088ac;
    }
    .section-divider.errors-found > .right .pdf-viewer .right{
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 800;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }
    .section-divider.errors-found > .right .pdf-viewer { display:flex; }
    .section-divider.errors-found > .right .pdf-viewer .left {
        width: 30px;
        padding-right: 7px;
        align-self: center;
    }
    .report-block{ box-sizing:border-box;padding:20px; }
    .js-summary-img{ width:100%; }
    .summary-section .star-row img{ width: 35px; }
    .summary-section .domain-row{
        color: #0088ac;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        line-height: 1.3em;
    }
    .summary-section .description-row{
        color: #837e85;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
    }
    .summary-section .score-row {
        color: #201223;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 800;
        line-height: 1.3em;
    }
    .pages-scanned-block{
        background-color: rgba(239, 238, 240, 0.5);
        box-sizing: border-box;
        padding: 30px 50px;
        flex-wrap: wrap;
        height: 100%;
        display: flex;
    }
    .pages-scanned-block .header{
        color: #0088ac;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        flex-wrap:wrap;
        padding-top:10px;
    }
    .pages-scanned-block .sub-header {
        color: #201223;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.71px;
        margin-top:20px;
    }
    .pages-scanned-block .line-item {
        font-size: 16px;
        font-family: "Open Sans";
        letter-spacing: 0.1px;
        margin-top:20px;
    }
    .pages-scanned-block .line-item .left{
        color: #635965;
        font-weight: 700;
    }
    .pages-scanned-block .line-item .right {
        color: #201223;
    }
    .wcag-score-block{ padding-bottom:20px; }
	.wcag-score-block:nth-of-type(3),
	.wcag-score-block:nth-of-type(4){ padding-bottom:0px; }
	.scores-row{margin-top:0;}
    .wcag-score-block .score .wcag-icon {
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 2px 5px;
        margin-right:2px;
    }
    .wcag-score-block.contrast .score .wcag-icon.no-bg{
        background-color:transparent;
        width:35px;
        position: absolute;
        left: 15px;
        padding: 0 6px 0 0;
    }
    .wcag-score-block.contrast .score .star{
        position:relative;
        left:30px;
    }
    .wcag-score-block .score .wcag-icon.no-bg img{ width:100%; }
    .wcag-score-block .score{
        display: flex;
		align-items: center;
		line-height:18px;
    }
    .wcag-score-block .score .star{ width:30px; padding: 0 2px; }
    .wcag-score-block .score .star img{ width:100%; }
    .wcag-score-block .level{
        color: #201223;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 800;
    }
    .wcag-score-block .errors,
    .wcag-score-block .warnings,
    .wcag-score-block .level {
        padding-top: 13px;
    }
    .wcag-score-block .errors .right,
    .wcag-score-block .warnings .right {
        padding-left:5px;
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
    }
    .wcag-score-block .errors,
    .wcag-score-block .warnings{
        display:flex;
    }
    .wcag-score-block .errors .left,
    .wcag-score-block .warnings .left{
        display:flex;
        align-items:center;
    }
    .wcag-score-block .errors .left,
    .wcag-score-block .warnings .left {
        width:20px;
    }
    .wcag-score-block .errors img,
    .wcag-score-block .warnings img {
        width:100%;
    }
    .section.reports .tabs{ display:flex; }
    .section.reports .tabs .tab{
        background-color: #bcdfe8;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        padding:15px 20px;
        cursor:pointer;
    }
    .section.reports .tabs .tab.active {
        background-color: #0088ac;
    }
    .section.reports .filter-wrap{
        width:100%;
        border-top:6px solid #0088ac;
    }
    .section.reports .filter{
        float:none;
        margin:initial;
        padding:10px 0px;
        background-color: #efeef0;
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 600;
        display: flex;
        height:100%;
    }
    .section.reports .filters-row .ll-col-2:not(:last-child){
        padding-right:5px;
    }
    .section.reports .filters-row .filter .checkbox{
        display:block;
        width:22px;
        height:22px;
        background-color: #0088ac;
        position:relative;
    }
    .section.reports .filters-row .filter .checkbox::after {
        content: "";
        position: absolute;
        display: none;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        height: 14px;
        width: 8px;
        left: 7px;
        top: 3px;
    }
    .section.reports .filters-row .filter .checkbox.checked::after {
        display:block;
    }
    .invisible{
        visibility:hidden;
        position:absolute;
    }
    .input[type="checkbox"].invisible{ z-index:-10px; }
    .section.reports .filters-row .filter label{
        display: flex;
        align-items: center;
        width:100%;
        justify-content: center;
		flex-wrap: wrap;
		cursor:pointer;
    }
    .filter > label > span:nth-child(4){display:none;}
    .section.reports .filter .wcag-icon{
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 2px 4px;
		margin: 0 7px;
		line-height: 18px;
    }
    .section.reports .filter .wcag-icon.no-bg{
        background-color:transparent;
        width: 22px;
        height:22px;
        display:flex;
        padding:0;
    }
    .report-block img{ width:100%; }
    .filters-description-row .ll-col-8{ padding-right:5px; }
    .filters-description-row .wcag-desc,
    .filters-description-row .error-desc {
        padding: 20px 25px;
        background-color: rgba(239, 238, 240, 0.5);
        height: 100%;
    }
    .filters-description-row .line-item .left{
        color: #635965;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 18px;
    }
    .filters-description-row .line-item .right{
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
    }
    .filters-description-row .line-item{ padding: 10px 0; }
    .filters-description-row{ border-bottom: 3px solid #dbdbdb; }
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        height: 30px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        overflow:hidden;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid #201223;
        background-color: rgb(146, 145, 145);
        width: 54px;
        height: 30px;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .slider:before {
        position: absolute;
        content: "";
        top: -3px;
        left:-5px;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.58);
        border: 3px solid #201223;
        background-color: #ffffff;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .switch .label{
        color: #0088ac;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
        padding-bottom:5px;
    }
    input:checked+.slider {
        background-color: #0088ac;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px #0088ac;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .slider.round .show{
        position: absolute;
        left: -45px;
        top: 1px;
        font-size: 15px;
    }
    .slider.round .hide{
        position: absolute;
        right: -40px;
        top: 1px;
        font-size: 15px;
    }
    .hide-repeat-errors .slider{ left:60px; }
    .hide-unique-errors .slider{ left:50px; }
    .section.downloads > .header{
        box-sizing:border-box;
        padding:50px;
    }
    .section.downloads > .header .top{
        color: #201223;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        font-style:italic;
        padding-bottom:10px;
    }
    .section.downloads > .header > .right .bottom button{
        background-color: #0088ac;
        cursor:pointer;
        border-style:none;
    }
    .section.downloads > .header > .right .bottom button:first-of-type{ margin-right: 5px; }
    .section.downloads > .header > .right .bottom button .text{
        color:#fff;
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: "Open Sans";
    }
    .section.downloads > .header .right .bottom button .wcag-icon{
        width:25px;
    }
    .ll-tab-content .body .page-header{
        width:100%;
        background-color: #0088ac;
        box-sizing:border-box;
        padding:10px 15px;
        cursor:pointer;
    }
    .ll-tab-content .body .page-header .text{
        color:#fff;
        font-weight: 600;
        font-family: "Open Sans";
        font-size:20px;
        word-break: break-all;
    }
    .ll-tab-content .body .page-header .ll-arrow{
        height: 30px;
        width: 30px;
        right:6px;
        top: 10px;
    }

    .ll-tab-content .body .page-header.expanded .ll-arrow{
        bottom: 10px;
    }
    .ll-tab-content{ display:none; }
    .ll-tab-content.active{ display:block; }
    .ll-tab-content .body .page-content{
        height:0 !important;
        overflow:hidden;
        transition: height .5s ease;
    }

    .ll-tab-content .body .page-content,
    .ll-tab-content .body .row-content,
    .ll-tab-content .body .row-content > .ll-row { width:100%;}

    .ll-tab-content .body .row-content { padding:20px; }

    .ll-tab-content.tab-1 .body .row-content,
    .ll-tab-content.tab-1 .body .row-content .wcag-icon { display:none; }

    .ll-tab-content .body .row-content:not(:last-of-type){ border-bottom: 1px solid #a5a0a7; }
    .ll-tab-content .body .row-content .ll-row > .left .icon-wrap{ width:25px; }
    .ll-tab-content .body .row-content .ll-row > .left .wcag-icon {
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 1px 3px;
		margin-bottom:5px;
		line-height: 18px;
    }
    .ll-tab-content.tab-1 .body .row-content .ll-row > .left > :nth-child(3){ margin-left:auto; }

    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .header,
    .ll-tab-content.tab-2 .body .row-content .header{
        color: #201223;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        padding-bottom:5px;
        display:flex;
    }

    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .header a,
    .ll-tab-content.tab-2 .body .row-content .header a{ color: #201223; }

    .ll-tab-content.tab-2 .body .row-content .line-items > .line-item,
    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .line-item{
        font-family: "Open Sans";
        color: #201223;
        font-size:14px;
        padding:5px;
        position:relative;
    }
    .ll-tab-content .body .row-content .line-item > .left,
    .ll-tab-content .body .row-content .ll-row > .right .line-item .left{
        font-weight: 700;
        text-transform: uppercase;
        padding-right: 5px;
    }
    .ellipses,
    .table{
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        line-height:1.3em;
    }
    .ellipses.expanded,
    .table.expanded{
        white-space: normal;
        word-break:break-all;
        padding-right:20px !important;
    }
    .ellipses + .after,
    .table + .after {
        position: absolute;
        right: -15px;
        height: 17px;
        width: 17px;
        border: 3px solid;
        bottom: 0px;
        transform: rotate(45deg);
        border-top-color: #0088ac;
        border-left-color: #0088ac;
        border-bottom-color: transparent;
        border-right-color: transparent;
        cursor:pointer;
        display:none;
    }
    .article-row .ellipses + .after{
        right: 4px;
        height: 13px;
        width: 13px;
        top: 6px;
    }
    .table + .after{
        display:block;
        right:10px;
        top: 10px;
        height: 13px;
        width: 13px;
    }
    .ellipses.expanded + .after,
    .table.expanded + .after{
        transform: rotate(45deg);
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #0088ac;
        border-right-color: #0088ac;
        top:0;
    }
    .table.expanded + .after{ top:3px; }
    .ll-tab-content.tab-1 .body .row-content .ll-row > .right .line-item .right,
    .ll-tab-content.tab-2 .body .row-content .line-item > .right .line-item{
        font-weight: 400;
    }
    .toggle-switch{ display:none; }
    .section.downloads .header .left .top{ display:none; }
    /* .flag-a,
    .flag-aa,
    .flag-warning,
    .flag-error,
    .flag-contrast,
    .flag-s508{ display:flex !important; } */

    .section.reports .page-content .row-content .wcag-icon.no-bg{
        background-color:transparent;
        padding:0;
    }
    .row-content > .ll-row >.left{
        flex:0 0 10%;
        -ms-flex:0 0 10%;
        max-width:10%;
    }
    .row-content > .ll-row >.right{
        flex:1 1 87%;
        -ms-flex:1 1 87%;
        max-width:87%;
    }
    .section.reports .page-content .row-content img{ width:25px; }
    .ll-tooltip{
        background-color: #dbdbdb;
        font-size: 12px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0 5px;
        display: block;
        text-decoration: none;
        position: relative;
    }
    .ll-tooltip:after{
        content: "?";
        position:absolute;
        left: 7px;
        top: 1px;
    }
    .line-item .color-swatch{
        height:20px;
        width:20px;
        border: 1px solid;
        margin-left: 10px;
    }
    .img-representation{
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;
        height:120px;
        padding: 30px 120px;
        border: 1px solid #201223;
    }
    .contrast-representation{
        padding: 20px 50px;
    }
    .article-row .line-item > .right .line-item > div {
        padding: 10px 20px 10px 10px;
        font-size:14px;
        border-bottom: 1px solid lightgray;
    }
    .article-row .line-item .line-item .element{
        padding-right:0px !important;
        padding-left:0px;
        -ms-flex: 0 0 58%;
        flex: 0 0 58%;
        max-width: 58%;
    }
    .article-row .line-item .line-item .page{ position:relative; }
    .article-row .line-item .line-item .page:after{
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0px;
        left: -7px;
        width: 6px;
        background: #eeeeef;
    }
    .article-row .line-item .line-item .element .ll-col-12{ padding-right:10px; }
    .article-row .line-item .line-item .page{
        padding-right:20px;
        -ms-flex: 1 1 45%;
        flex: 1 1 45%;
        max-width:45%;
    }

    .article-row .line-item > .right .line-item:not(:first-child) .table + .after,
    .article-row .line-item > .right .line-item:not(:first-child) .ellipses + .after{
        top:20px;
    }
    .article-row .line-item > .right .line-item:not(:first-child) .table.expanded + .after,
    .article-row .line-item > .right .line-item:not(:first-child) .ellipses.expanded + .after{
        top:10px;
    }
    .article-row .line-item > .right .line-item:first-of-type div{ padding-top: 0px; }
    .article-row .line-item > .right .line-item:last-of-type > div{ border-bottom:0; }

    .article-row .line-item >.right .ll-col-11{
        word-break: break-all;
        position: relative;
        flex:0 0 98%;
        max-width:98%;
        -ms-flex: 0 0 98%;
    }
    .article-row .line-items > .line-item > .right{
        max-width:95%;
        flex: 0 0 95%;
        -ms-flex: 0 0 95%;
    }
    .article-row .line-item .icons .wcag-icon{
        background-color: #201223;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0px 4px;
        margin:0 3px;
        display:none;
    }
    .article-row .line-item .icons img.wcag-icon{
        background-color:transparent;
        padding:0;
        width:20px;
    }
    .article-row .line-item .icons{
        padding-right:0 !important;
        padding-left:0 !important;
        align-items: flex-start;
    }
    .article-row .line-item .line-item{ display:none; }
    .article-row .ellipses.expanded + .after{ top:0px; }
    .article-row .line-items .line-item:not(:first-child) .page:after{ top: -10px; }
    .tooltip{
        position: absolute;
        background: #fff;
        color: black;
        width: 200px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
        border:5px solid;
        z-index: 1;
    }

    .tooltip.filter-a{
        transform: translate3d(80px, -105px, 0px) !important;
    }
    .tooltip.filter-aa{
        transform: translate3d(80px, -175px, 0px) !important;
    }
    .tooltip.filter-508{
        transform: translate3d(86px, -106px, 0px) !important;
    }
    .tooltip.filter-contrast{
        transform: translate3d(90px, -106px, 0px) !important;
    }
    .tooltip.filter-error{
        transform: translate3d(85px, -129px, 0px) !important;
    }
    .tooltip.filter-warning{
        transform: translate3d(-110px, -152px, 0px) !important;
    }
    .tooltip.filter-a .tooltip-inner img{
        top: 66px;
    }
    .tooltip.filter-aa .tooltip-inner img{
        top: 135px;
    }
    .tooltip.filter-508 .tooltip-inner img{
        top: 66px;
        left: -5px;
        transform: rotateY(0deg);
    }
    .tooltip.filter-contrast .tooltip-inner img{
        top: 66px;
    }
    .tooltip.filter-error .tooltip-inner img{
        top: 89px;
    }
    .tooltip.filter-warning .tooltip-inner img{
        top: 112px;
        left: 158px;
        transform: rotateY(180deg);
    }

    .tooltip .tooltip-arrow{
        display:none;
    }
    .tooltip[x-placement^="top"] .tooltip-arrow{
        display:none;
    }
    .tooltip.learn-more{
        background: #fff;
        color: black;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
        border: 5px solid;
        width: 270px;
        margin: 0 0 0 15px;
        left: 20px !important;
        top: 21px !important;
        display:block;
    }
    .tooltip.learn-more .tooltip__arrow{
        display:none;
    }
    .tooltip.learn-more .tooltip__inner{ font-size:14px;font-weight:normal;line-height: 1.3em; }
    /* .tooltip.learn-more .tooltip__inner a{ text-decoration:none; } */
    .tooltip.learn-more[x-placement^="right"] .tooltip__arrow{
        display:none;
    }
    .tooltip.learn-more .tooltip__inner img{
        position: absolute;
        width: initial !important;
        left: -39px;
        top: -7px;
        transform: rotate(90deg);
    }
    .tooltip.learn-more .wcag-excerpt{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display:none;
	}
	.article-row .line-item .icons{
		-ms-flex: 1 1 12%;
		flex: 1 1 12%;
		max-width: 12%;
	}
	.article-row .line-item .line-item:not(.flag-contrast) .element {
		padding-right: 0px !important;
		padding-left: 0px;
		-ms-flex: 0 0 52%;
		flex: 0 0 52%;
		max-width: 52%;
	}
	.section.reports .filters-row div:not(:last-of-type) {
		padding-right: 5px;
	}
}
