.input-wrap{
	justify-content: center;
	display:flex;
	align-items:center;
	padding:20px 0;
	max-width:80%;
	margin: 0 auto;
}
.input-wrap a{
	color: #fff;
	background-color: #3F3244;
	border-radius: 3px;
	padding: 1px 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	align-self: stretch;
	font-weight:700;
}
.body-bottom button {
    background-color: #3F3244;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
}

.head-wrap{text-align:center;padding-bottom:10px;}
.body-wrap .body-top{overflow-y:auto;height:500px;border:1px solid black;}
.body-wrap .body-bottom{text-align:right;}
.content-body.step-1{text-align:center;}
ul.sitemap li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #3F3244;
	padding-left:20px;
}
ul.sitemap li a{
	padding-right:20px;
}
.sitemap {
	padding-left: 0;
	margin: 0;
}
.msg{color:red;padding-top: 10px;font-size:20px;}
.body-top.msg{text-align:center;}
