.input-wrap {
    display: flex;
    align-items: center;
    padding: 20px 0;
    max-width: 80%;
    margin: 0 auto;
}

.input-wrap {
    justify-content: space-around;
    margin: auto;
    font-weight: 700;
}

.msg {
    color: red;
    padding-top: 10px;
    font-size: 20px;
}