/*
 Theme Name:   Limelight Theme Online ADA
 Theme URI:    https://limelightdept.com/

 Description:  Limelight Child Theme
 Author:       Limelight Dept
 Author URI:   https://limelightdept.com/
 Template:     limelight-theme-core
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  limelight-theme
*/

/* .nav-footer.nav-secondary {
    flex: 1 1 100%;
} */

.nav-menu:not(.nav-mobile)>ul>li {
    display: inline-block;
}

a.light-link {
    color: #fd702a;
}

a.light-link:hover {
    color: #afaeae;
}

.scan-message .message div {
    font-size: 20px;
    font-weight: bold;
}

.scan-message .message .step-mid {
    padding: 0 5px;
}

h1 {
    text-transform: initial;
}

.always-show {
    display: block !important;
}

.center-contents {
    text-align: center;
}

.ll-categories {
    padding: 20px 5px 20px 5px;
}

.ll-categories li a:hover,
.ll-categories li a:focus {
    color: #bdbdbd;
    outline: 0;
}

.ll-categories>div {
    box-sizing: border-box;
    padding: 20px;
}

#post-248 .vc_grid-filter {
    display: none;
}

.blog-featured-img.focused {
    background-size: 108%;
}

.blog-img.focused {
    background-size: auto 360px;
}

.blog-img {
    transition: background-size 200ms ease;
    background-size: auto 330px;
}

.blog-featured-img {
    transition: background-size 200ms ease;
    background-size: 100%;
}

#blog-main .vc_gitem-zone-img {
    height: 300px;
}

.grid-post-right {
    margin-right: 25px;
}

.mobile-menu-button {
    height: initial;
    right: initial;
    position: relative;
}


body.mobile_nav_open #mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#mobile-nav {
    flex-direction: row;
    justify-content: flex-end;
}

#mobile-nav .mobile-menu a,
#mobile-nav .mobile-menu span {
    padding: 0px 0 0px 20px;
    transition: border-left 200ms;
    border-left: 6px solid transparent;
}

#mobile-nav .mobile-menu li a:hover,
#mobile-nav .mobile-menu li a:focus {
    border-left: 6px solid #EB4025;
}

.nav-mobile.nav-secondary {
    margin: 0;
}

.nav-mobile.nav-secondary a {
    font-size: 24px;
}

.nav-mobile.nav-primary a {
    font-size: 32px;
    padding: 3px 0;
}

#mobile-nav .nav-spacer {
    width: 15%;
    border-left: 1px solid #8E8693;
}

/* .ada-button {
    text-transform: uppercase !important;
} */

body {
    line-height: 1.3;
}

.form-header>p {
    margin: 0 !important;
}

html {
    height: 100%;
}

#site-container {
    overflow: hidden !important;
}

.hidden {
    display: none !important;
}

#site-footer .grid {
    display: flex;
    justify-content: space-between;
}

.grid {
    max-width: 1080px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
}

.mobile-menu-button .mobile-text {
    display: none;
}

.limelight-navigation.header {
    font-size: 24px;
    height: 100%;
}

.vertical-separator {
    margin: 0px;
    border-left: thin solid;
    border-left-color: rgba(255, 255, 255, .7);
    font-size: 30px;
    padding-left: 30px;
}

.header-content-center {
    font-family: "Josefin Sans";
    padding-top: 3px;
    display: none;
}

body.mobile_nav_open .mobile-menu-button {
    position: relative;
}

.logo {
    width: 120px;
    margin: 0;
    display: block;
}

.footer-logo {
    width: 120px;
}

#site-header {
    /*background : -moz-linear-gradient(50% 0% -90deg,rgba(58, 45, 63, 1) 6.53%,rgba(55, 41, 59, 1) 44.06%,rgba(44, 30, 48, 1) 78.21%,rgba(34, 19, 37, 1) 100%) ;
  background : -webkit-linear-gradient(-90deg, rgba(58, 45, 63, 1) 6.53%, rgba(55, 41, 59, 1) 44.06%, rgba(44, 30, 48, 1) 78.21%, rgba(34, 19, 37, 1) 100%) ;
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.0653,rgba(58, 45, 63, 1) ),color-stop(0.4406,rgba(55, 41, 59, 1) ),color-stop(0.7821,rgba(44, 30, 48, 1) ),color-stop(1,rgba(34, 19, 37, 1) )) ;
  background : -o-linear-gradient(-90deg, rgba(58, 45, 63, 1) 6.53%, rgba(55, 41, 59, 1) 44.06%, rgba(44, 30, 48, 1) 78.21%, rgba(34, 19, 37, 1) 100%) ;
  background : -ms-linear-gradient(-90deg, rgba(58, 45, 63, 1) 6.53%, rgba(55, 41, 59, 1) 44.06%, rgba(44, 30, 48, 1) 78.21%, rgba(34, 19, 37, 1) 100%) ;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A2D3F', endColorstr='#221325' ,GradientType=0)" ;
  background : linear-gradient(180deg, rgba(58, 45, 63, 1) 6.53%, rgba(55, 41, 59, 1) 44.06%, rgba(44, 30, 48, 1) 78.21%, rgba(34, 19, 37, 1) 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A2D3F',endColorstr='#221325' , GradientType=0) ;*/
    height: initial;
    padding: 8px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}

.header-content-right {
    padding-right: 20px;
}

#site-header a {
    color: #fff;
}

#site-header a:hover,
#site-header a:focus {
    color: #ec3723 !important;
}

body {
    font-size: 16px;
    background: -moz-linear-gradient(0% 50% 0deg, rgba(33, 18, 36, 1) 2.76%, rgba(44, 30, 47, 0.87) 97.24%);
    background: -webkit-linear-gradient(0deg, rgba(33, 18, 36, 1) 2.76%, rgba(44, 30, 47, 0.87) 97.24%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.0276, rgba(33, 18, 36, 1)), color-stop(0.9724, rgba(44, 30, 47, 0.87)));
    background: -o-linear-gradient(0deg, rgba(33, 18, 36, 1) 2.76%, rgba(44, 30, 47, 0.87) 97.24%);
    background: -ms-linear-gradient(0deg, rgba(33, 18, 36, 1) 2.76%, rgba(44, 30, 47, 0.87) 97.24%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#211224', endColorstr='#2C1E2F' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(33, 18, 36, 1) 2.76%, rgba(44, 30, 47, 0.87) 97.24%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211224', endColorstr='#2C1E2F', GradientType=1);
}

.home-header-divider {
    width: 140px;
}

.home-header-divider.black {
    border: 1px solid black;
}

.home-header-divider.white {
    border: 1px solid white;
}

.dark {
    color: #3F3244;
}

.white {
    color: #FFFFFF;
}

.red {
    color: #ED3724;
    color: rgb(237, 55, 36);
}

.home-section {
    height: 480px;
}

.home-section hr {
    display: inline-block;
}

.home-section.short {
    height: 371px;
}

.home-section#section-1 {
    text-align: right;
}

.home-section#section-2 {
    text-align: left;
}

.home-section#section-3 {
    text-align: right;
}

.home-section#section-4 {
    text-align: left;
}

#section-6 {
    text-align: center;
}

#section-6 a[title="READ MORE"] {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Josefin Sans';
    height: 21px;
    z-index: 20;
    border-radius: 0px !important;
    background: transparent;
    background-image: url(/wp-content/themes/limelight-theme-online-ada/assets/img/buttons/button-small-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px 20px;
    transition: transform .3s;
}

.ada-button.dark button,
.ada-button.dark a {
    background: transparent !important;
}

.ada-button.dark button:hover,
.ada-button.dark a:hover {
    background: transparent
}

.ada-button.dark button:focus,
.ada-button.dark a:focus {
    background: transparent
}

.ada-button.white button,
.ada-button.white a {
    background: transparent !important;
}

.ada-button.white button:hover,
.ada-button.white a:hover {
    background: transparent
}

.ada-button.white button:focus,
.ada-button.white a:focus {
    background: transparent
}

.vc_general.vc_btn3 {
    border: none !important;
}

.ada-button.blog {
    margin: 0 auto;
    width: 48%;
}

#section-5:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    box-shadow: -5px -8px 20px 13px rgba(0, 0, 0, 0.75);
}

#section-5:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    box-shadow: -5px 8px 20px 13px rgba(0, 0, 0, 0.75);
}

#sign-up.ada-button button {
    padding: 12px 70px !important;
}

#apply-now.ada-button button {
    padding: 12px 53px !important;
}

.ada-button {
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform .3s;
    display: block;
    background-position-y: center;
    background-size: 100% 100%;
}

.ada-button .vc_btn3 {
    width: 100%;
    font-family: "Josefin sans";
    font-weight: 700;
    font-style: italic;
}

.ada-button .ada-button {
    background: unset !important;
    transform: unset !important;
    transition: unset !important;
}

.ada-button.white {
    background-image: url(/wp-content/themes/limelight-theme-online-ada/assets/img/buttons/button-small-white.svg);
}

.ada-button.dark {
    background-image: url(/wp-content/themes/limelight-theme-online-ada/assets/img/buttons/button-small-dark.svg);
}

.ada-button:hover,
.ada-button.focused {
    transform: scale(1.2);
}

.entry-content #section-5 {
    height: 125px;
    background-color: #E3E3E3 !important;
    /*z-index:-1; */
}

#section-5 blockquote {
    margin: 0;
}

.footer-left .nav-wrapper {
    display: inline-flex;
    font-size: 16px;
    font-family: "Josefin Sans";
}

.footer-left .nav-wrapper a {
    margin-bottom: 10px;
    width: max-content;
    padding: 0 0 5px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom .1s ease-in-out;
}

.footer-left .nav-wrapper a:hover,
.footer-left .nav-wrapper a:focus {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    outline: 0;
}

.nav-menu.social-links,
.nav-wrapper .nav-menu .nav-list {
    text-align: left;
}

.nav-menu.social-links {
    padding: 30px 10px 0px;
}

.nav-menu:not(.nav-mobile)>ul>li {
    display: inline-block;
    padding: 0 5px;

}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
    margin: 0 50px;
}

.footer-right {
    display: flex;
}

a:hover,
a:focus {
    color: #625765;
}

a {
    color: #ce1400;
}

#site-footer {
    color: #fefefe;
}

#site-footer a {
    color: #fefefe;
}

#site-footer a:hover,
#site-footer a:focus {
    color: #f93a25;
}

#lm_logo svg .cls-1,
#lm_logo svg .cls-1 {
    fill: #fefefe;
}

#lm_logo {
    width: 140px;
}

.nav-social svg path {
    fill: #fefefe;
}

a.vc_gitem-link:hover,
a.vc_gitem-link:focus {
    color: #f93b26;
}

.social-icon a:hover,
.social-icon a:focus {
    outline: 0;
}

.social-icon a:hover path,
.social-icon a:focus path {
    fill: #f93b26;
    outline: 0;
}

.social-icon a path,
.social-icon a path {
    fill: #fefefe;
}

.header-content-right .nav-header {
    display: inline-block !important;
}

.header-content-right a {
    padding-top: 15px;
    font-family: "Josefin Sans";
    font-size: 14px;
}

.header-content-right a:hover {
    color: #ec3723 !important;
}

footer {
    position: relative;
}

#most-popular-row .vc_grid-item-mini:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 999;
    width: 330px;
    height: 4px;
    background-color: #ec3723;
    opacity: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
}

/* #most-popular-row .vc_grid-item-mini:hover:before{opacity:1;} */
#most-popular-row .vc_grid-item-mini.vc_is-hover:before {
    opacity: 1;
}

#most-popular-row .vc_grid-item-mini:after {
    content: "";
    position: absolute;
    bottom: 30px;
    z-index: 999;
    width: 330px;
    height: 4px;
    background-color: #ec3723;
    opacity: 0;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
}

/* #most-popular-row .vc_grid-item-mini:hover:after{opacity:1} */
#most-popular-row .vc_grid-item-mini.vc_is-hover:after {
    opacity: 1
}

.vc_grid-item-mini .vc_btn3-container {
    margin-bottom: 8px;
}

.nav-menu.nav-social .social-linkedin,
.nav-menu.nav-social .social-youtube,
.nav-menu.nav-social .social-googleplus,
.nav-menu.nav-social .social-instagram {
    display: none;
}

.inline-block {
    display: inline-block;
}

.no-margin,
.no-margin p {
    margin: 0 !important;
}

.bold {
    font-weight: 700;
}

.blog-divider-featured {
    width: 300px;
    margin: 0 auto;
}

.ta-center {
    text-align: center;
}

.flex-row .vc_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-no-wrap {
    display: flex;
}

.protocol-select {
    flex-basis: 10%;
    margin-right: 5px;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.vc_grid-item-zone-c-left .vc_gitem-zone-c,
.vc_grid-item-zone-c-right .vc_gitem-animated-block {
    width: 30%;
}

.vc_grid-item-zone-c-right .vc_gitem-zone-c {
    width: 70%;
}

#blog-sidebar .vc_grid-item-mini .vc_btn3-container {
    margin: 0px;
}

.blog-sidebar-date {
    margin-bottom: 0px;
    margin-top: 2px;
}

#blog-sidebar .vc_gitem-post-data {
    margin: 0px;
}

#blog-sidebar .vc_grid-item-mini {
    display: flex;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.sidebar-mini-right .vc_gitem-zone-mini {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blog-sidebar .vc_grid.vc_row.vc_grid-gutter-10px.vc_pageable-wrapper.vc_hook_hover {
    display: none;
}

#blog-sidebar .cat-item.cat-item-12,
#blog-sidebar .cat-item.cat-item-9 {
    display: none;
}

/* blog category Featured Blog and Non-Featured-Blog */
.ll-categories {
    padding-top: 15px;
}

.ll-categories ul {
    margin: 0;
}

.ll-categories li {
    margin-bottom: 30px;
}

.ll-categories li a {
    color: white;
    font-style: italic;
    font-family: "Josefin sans";
}

.widgettitle {
    margin-bottom: 30px;
}

#blog-sidebar .widgettitle {
    color: #fff;
}

.search-field {
    padding: 10px 10px 10px 25px;
    border-radius: 3px;
    border: none;
    font-family: "Josefin sans";
    font-size: 16px;
}

.search-field {
    color: #3F3244 !important;
    width: 100%;
}

.search-submit {
    display: flex !important;
    margin-top: 13px;
    background-color: transparent !important;
}

#blog-sidebar .submit-wrapper {
    background-image: url(/wp-content/themes/limelight-theme-online-ada/assets/img/buttons/button-small-white.svg);
    background-repeat: no-repeat;
    width: 45%;
}

#blog-sidebar .submit-wrapper button {
    font-size: 16px !important;
    padding-left: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 7px !important;
    padding-right: 0px !important;
    height: initial !important;
    margin-top: 0px;
    margin: 0 auto;
}

#blog-sidebar .widget_search form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#blog-sidebar .widget_search label {
    width: 100%;
}

#blog-sidebar .vc_column_container>.vc_column-inner {
    width: initial;
    padding-right: 0;
    padding-left: 0;
}

#blog-sidebar .ll-categories {
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    width: 100%;
    color: #fff;
}

#blog-sidebar .ll-categories a {
    color: #fff;
}

#blog-sidebar .ll-categories a:hover,
#blog-sidebar .ll-categories a:focus {
    color: #bbbbbb;
}

#blog-main .vc_grid-pagination .vc_grid-pagination-list.vc_grid-pagination-color-grey>li>a,
.vc_grid-pagination .vc_grid-pagination-list.vc_grid-pagination-color-grey>li>span {
    background-color: transparent !important;
    border: none !important;
}

#blog-main .vc_grid-page a {
    font-size: 18px;
    font-family: "Josefin sans";
    font-weight: 700;
    z-index: 999;
    font-style: italic;
}

#blog-main .vc_grid-pagination .vc_grid-pagination-list {
    text-align: left;
}

#blog-main .vc_gitem-col .vc_gitem-post-data-source-post_date,
#blog-main .vc_gitem-col .inline-block,
#blog-main .vc_gitem-col .vc_gitem-post-data-source-post_author {
    font-style: italic;
}

#blog-single {
    margin-top: 75px;
}

#blog-single .featured-img-wrapper {
    height: 350px;
}

#blog-single h2 {
    font-family: "Josefin sans";
    margin: 30px 0 30px 45px;
}

#blog-single .content-header {
    background-color: #E6E6E6;
    padding: 45px 45px 22px 45px;
}

#blog-single main {
    background-color: #E6E6E6;
    padding: 0 45px 22px 45px;
}

#blog-single .content-header img {
    width: 30px;
    height: auto;
    margin: 0 5px;
}

.img-full-width,
.img-full-width figure,
.img-full-width figure .vc_single_image-wrapper,
.img-full-width figure .vc_single_image-wrapper img {
    width: 100%;
}

.img-full-width figure .vc_single_image-wrapper img {
    height: auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.wpb_single_image .vc_figure-caption {
    text-align: right;
    padding-right: 30px;
}

.content-footer .subscribe-block {
    background-color: rgba(255, 255, 255, .1);
    padding-bottom: 30px;
    margin: 30px 45px;
    color: white;
    font-family: "Josefin sans";
}

.subscribe-block-header p {
    font-size: 16px;
    margin-bottom: 15px !important;
}

#subscribe-email {
    padding: 10px;
    color: #3F3244;
    margin-bottom: 15px;
    text-align: center;
}

.subscribe-block .ada-button {
    background-size: 100% 63%;
    padding: 0px 0px;
    width: 21%;
    margin: 0 auto;
}

.ada-button input[type="submit"] {
    width: 100%;
    background-color: transparent;
    padding-top: 13px;
    font-weight: 700;
    font-style: italic;
    font-family: "Josefin sans";
}

.submit.flex.right {
    justify-content: flex-end;
}

.form-header {
    font-family: "Josefin sans";
    font-size: 16px;
}

.form-header span:first-child {
    padding-right: 4px;
}

.form-header span:nth-child(2) {
    flex-grow: 1;
}

.subscribe-block input[type="submit"] {
    background-color: transparent;
    width: 100%;
    font-weight: bold;
    font-family: "Josefin sans";
    font-style: italic;
}

.author-wrapper {
    background-color: rgba(255, 255, 255, .1);
    color: white;
    width: 100%;
    height: auto;
    padding: 30px 50px;
    box-sizing: border-box;
    clear: both;
}

.author-header {
    font-size: 20px;
    font-family: "Josefin sans";
    margin-bottom: 25px;
}

.author-wrapper .flex {
    flex-direction: row;
}

.author-img img {
    max-height: 100px;
    max-width: 100px;
}

.author-blurb {
    font-family: "Open sans";
    font-size: 14px;
}

.author-name {
    font-size: 16px;
    font-style: italic;
}

.author-info {
    font-size: 14px;
}

.author-wrapper .divider {
    width: 200px;
    border-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
}

.content-header .divider {
    width: 200px;
    border-color: #3F3244;
    display: inline-block;
    border-top: 0px;
}

.content-header .divider.full {
    width: 100%;
}

.content-header .flex {
    flex-direction: row;
    justify-content: space-between;
}

.content-header .content-header-bottom {
    box-sizing: border-box;
    padding: 20px 45px;
    font-family: "Open sans";
    font-weight: 700;
}

.content-header .content-header-bottom .norm_row.sfsi_wDiv {
    position: static !important;
    width: initial !important;
    text-align: initial !important;
}

.norm_row {
    float: none !important;
}

.norm_row .sfsi_wicons {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    width: 25px !important;
    height: 25px !important;
}

#sfsi_holder {
    display: none !important;
}

.flex.content-share {
    align-items: center;
}

.content-title {
    font-size: 26px;
    font-family: "Josefin sans";
}

.ll-quote {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 16px;
    background-color: #625667;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 25px;
}

.ll-quote blockquote {
    margin-left: 115px;
    margin-right: 115px;
    text-align: center;
}

.ll-quote blockquote div {
    font-size: 16px !important;
    font-family: "Open sans";
    color: white;
}

.divider.white {
    width: 200px;
    border-color: white;
    display: inline-block;
}

.ll-input {
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    box-sizing: border-box;
    padding: 10px;
    color: #3F3244;
    border-radius: 3px;
    border: none;
    font-family: "Josefin sans";
}

.form-header hr {
    flex-grow: 1;
}

.wpcf7-mail-sent-ok {
    display: none !important;
}

.flex-inline-label {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}

.flex-inline-label span:first-child {
    width: 100px;
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
    font-family: "Open sans";
}

.flex-inline-label span:nth-child(2) {
    flex-grow: 1;
}

.input-spacing {
    margin: 10px 0 !important;
}

.flex-inline-label select {
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
    width: max-content;
}

fieldset {
    border: none;
}

.progress-bar .step-headers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress-bar .step-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.progress-bar .step-images img {
    width: 37px;
    height: 37px;
}

.progress-bar .step-images img.path {
    width: 0;
    flex-grow: 1;
}

.progress-bar .step-images img:first-child {
    padding-left: 6%;
}

.progress-bar .step-images img:last-child {
    padding-right: 6%;
}

.cert-shipping-header {
    font-size: 50px;
    font-family: 'Josefin Sans';
    color: #ffffff;
    line-height: 60px;
}

.page-top-spacing {
    margin-top: 150px;
}

.featured-grid .grid-post-bottom {
    text-align: center;
}

.grid-post-bottom .ada-button a {
    font-style: italic;
    font-size: 16px;
    font-family: "Josefin sans";
    font-weight: 700;
    padding-bottom: 9px;
}

#wpcf7-f391-p278-o1 {
    margin-bottom: 30px;
}

.security-example {
    margin-left: 110px;
    display: flex;
}

.security-example span {
    font-family: "Open sans";
    width: 30%;
    font-size: 13px;
    padding-left: 10px;
}

.flex-inline-label .same-address select {
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.exp-month {
    margin-right: 10px;
}

.flex.exp-group {
    flex-wrap: nowrap !important;
}

#custom-year {
    margin-left: 110px;
    width: 41%;
}

.shipping-address-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 192px;
}

.shipping-address-wrap {
    display: none;
}

.ada-button .vc_btn3.vc_btn3-size-lg {
    font-size: 18px;
    padding: 12px 0px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.ada-button.vc_btn3-center {
    margin: 0 auto;
}

.ada-button.large {
    width: 250px;
    padding: 3px 15px;
}

.ada-button .vc_btn3.vc_btn3-size-md {
    font-size: 24px;
    padding: 12px 0px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.ada-button.medium {
    width: 200px;
    padding: 0 10px;
}

.ada-button.small {
    width: 150px;
}

/* parent */
.ada-button .vc_btn3.vc_btn3-size-sm {
    font-size: 16px !important;
    padding-top: 12px;
    padding-bottom: 8px;
}

/* child */
.limelight_checkout_error {
    text-align: right;
}

.ml-110 {
    margin-left: 110px;
}

/* #site-header.members-dashboard {
	background: initial;
    background-color: #221225;
	padding:0;
	position: relative;
    z-index: 10;
} */
/* .members-dashboard .header-wrap{
	align-items: center;
    justify-content: space-between;
    display: flex;
    height: 60px;
    max-width: 1080px;
    margin: 0 auto;
} */
.members-dashboard .mobile-menu-button {
    top: initial;
    z-index: initial;
    position: relative;
    right: initial;
    height: 60px;
    width: 80px;
    background: transparent;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-left: 6px solid transparent;
    transition: border-left 200ms;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.members-dashboard .mobile-menu-button .menu-bars span {
    width: 35px;
    height: 4px;
    margin-bottom: 8px;
}

.members-dashboard .logo {
    display: block;
    margin: 0;
    padding: 0;
}

/* .members-dashboard .mobile-nav-override{height:100%;max-width: 280px;} */
/* .members-dashboard .mobile-menu-button-wrapper{height:100%;width:100%;display: flex;background-color:#3E3144;} */
.members-dashboard .mobile-menu-button .menu-bars span:last-child {
    margin-bottom: 0;
}

.members-dashboard #mobile-nav {
    -webkit-transform: unset;
    transform: unset;
    -webkit-transition: unset;
    transition: unset;
    position: relative;
    top: 0 !important;
    /* z-index: 1; */
    display: flex;
    overflow: hidden;
    background-color: #201223;
    height: 0;
    transition: height 200ms;
}

.ada_certification .content-wrapper {
    background-color: transparent;
}

/* .members-dashboard #mobile-nav .left-column { */
/*min-width:80px;*/
/* position: relative; */
/* z-index: 1; */
/*background-color: #231225;*/
/* } */

/* .members-dashboard .mobile-menu {
    background-color: #3E3144;
} */

body.mobile_nav_open .members-dashboard .mobile-menu-button {
    top: initial;
    z-index: initial;
    position: relative;
    right: initial;
    height: 60px;
    width: 80px;
    background: transparent;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-left: 6px solid #EB4025;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#menu-membership-nav,
#menu-free-scan-nav {
    padding-left: 10px;
    word-break: break-word;
}

.members-dashboard .right-column .limelight-navigation {
    max-width: 100%;
}

#menu-membership-nav .menu-item-long a,
#menu-membership-nav .menu-item-long span,
#menu-free-scan-nav .menu-item-long a,
#menu-free-scan-nav .menu-item-long span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.members-dashboard .right-column {
    width: 100%;
}

.members-dashboard .mobile-menu-button:hover,
.members-dashboard .mobile-menu-button:focus {
    border-left: 6px solid #EB4025;
}

body.mobile_nav_open .members-dashboard .mobile-menu-button .menu-bars :nth-child(1) {
    display: block;
    width: 35px;
    transform: unset;
    background-color: white !important;
}

body.mobile_nav_open .members-dashboard .mobile-menu-button .menu-bars span,
body.mobile_nav_open .members-dashboard .mobile-menu-button .menu-bars :nth-child(3):after {
    background-color: white !important;
}

body.mobile_nav_open .members-dashboard .mobile-menu-button .menu-bars :nth-child(2) {
    opacity: initial;
    background-color: white !important;
}

body.mobile_nav_open .members-dashboard .mobile-menu-button .menu-bars :nth-child(3) {
    transform: initial;
    -webkit-transform: initial;
    width: 35px;
    background-color: white !important;
}

body.mobile_nav_open .members-dashboard .mobile-menu-button .menu-bars :nth-child(3):after {
    display: none;
}

body.mobile_nav_open .members-dashboard .mobile-menu-button .mobile-visible {
    display: flex;
}

.members-dashboard .mobile-menu-button:hover .menu-bars span,
.members-dashboard .mobile-menu-button:focus .menu-bars span {
    background-color: white;
}

/* body.mobile_nav_open .mobile-menu-button {
    top: -7px;
} */

body.mobile_nav_open {
    overflow: auto;
    margin: 0;
}

/* body.mobile_nav_open .members-dashboard #mobile-nav {
    background: initial;
    position: relative;
    top: 0 !important;
    transform: unset;
    -webkit-transform: unset;
    z-index: 1;
    display: flex;
    overflow: hidden;
    background-color: #413445;
    max-width: 300px;
} */

.members-dashboard #menu-membership-nav a,
.members-dashboard #menu-membership-nav span,
.members-dashboard #menu-free-scan-nav a,
.members-dashboard #menu-free-scan-nav span {
    /* padding: 10px 25px 10px 10px !important; */
    border-right: 6px solid transparent;
    transition: border-right 200ms;
    border-left: none !important;
    /* font-size: 16px !important; */
    /* text-align: left !important; */
    display: block;
}

/* .content-wrapper {
    padding: 45px;
    background-color: #E6E6E6;
} */

.page-template-certified .content-wrapper {
    background-color: transparent;
}

#menu-membership-nav a,
#menu-membership-nav span,
#menu-free-scan-nav a,
#menu-free-scan-nav span {
    color: #ab9faf;
    /* z-index: 2; */
    position: relative;
}

#menu-membership-nav a:hover,
#menu-membership-nav a:focus,
#menu-free-scan-nav a:hover,
#menu-free-scan-nav a:focus {
    color: #ffffff !important;
}

.members-dashboard #mobile-nav .mobile-menu {
    padding: 0;
}

#menu-membership-nav li,
#menu-free-scan-nav li {
    padding: 0;
    box-sizing: border-box;
    /* z-index: 0; */
    height: auto;
    width: 100%;
    /* 	box-shadow: inset 0px 14px 10px -17px rgba(0,0,0,0.62), inset 0px -14px 10px -17px rgba(0,0,0,0.62); */
}

#menu-free-scan-nav form button {
    margin-left: 40px;
    background-color: transparent;
    color: #ab9faf;
    font-family: "Josefin Sans",
        Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: 0px;
    margin-top: -10px;
}

#menu-free-scan-nav form button:hover,
#menu-free-scan-nav form button:focus {
    border-right: 6px solid #EB4025;
    color: #ffffff !important;
}

#menu-membership-nav li a:hover,
#menu-membership-nav li a:focus,
#menu-free-scan-nav li a:hover,
#menu-free-scan-nav li a:focus {
    border-right: 6px solid #EB4025;
}

/* #menu-membership-nav li::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    background-image: linear-gradient(to right, #413445 50%, transparent);
    transition: opacity 500ms;
} */
/* #menu-membership-nav li::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    right: 0;
    z-index: 2;
	opacity:0;
    background-image: linear-gradient(to left, #413445 50%, transparent);
    transition: opacity 500ms;
} */
/* #menu-membership-nav li:hover::after, #menu-membership-nav li:focus::after{
	opacity:1;
}
#menu-membership-nav li:hover::before, #menu-membership-nav li:focus::before{
	opacity:1;
} */
#mobile-nav>div {
    background-color: #3E3144;
}

.notification-banner {
    font-size: 20px;
    background-color: #ce1703;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.notification-banner span,
.free-notification-banner span {
    padding: 10px;
}

.dismiss-banner {
    margin-left: 20px;
    border: 1px solid #ffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 7px;
}

.dismiss-banner:hover {
    color: black !important;
}

.free-notification-banner {
    font-size: 20px;
    background-color: #fff;
    color: #ce1703;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.upgrade-button {
    margin-left: 20px;
    border: 1px solid #ec3723;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 7px;
    color: #ec3723 !important;
}

#site-header a.upgrade-button:hover,
#site-header a.upgrade-button:focus {
    background-color: #fff;
    color: black !important;
}

body.mobile_nav_open {
    overflow: hidden;
}

#site-footer .nav-secondary.nav-menu a {
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
}

#site-footer .nav-primary.nav-menu a {
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-footer a {
    padding: 5px 10px;
}

/* Phone/Mobile */
@media(max-width:599px) {
    .entry-content #section-1 {
        background-position-x: -970px !important;
    }

    .entry-content .home-section {
        text-align: center !important;
    }

    #post-414 {
        text-align: center;
    }

    #post-278 {
        text-align: center;
    }

    .home-header-divider.right {
        float: none;
    }

    .home-header-divider.left {
        float: none;
    }

    .header-content-center {
        display: none;
    }

    /* 	.header-content-right{display:none;} */
    .nav-spacer {
        display: none;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
    }

    .section-5-quote {
        font-size: 18px;
    }

    .nav-menu.social-links,
    .nav-wrapper .nav-menu .nav-list {
        text-align: center;
    }

    #site-footer a {
        margin: 0 auto;
    }

    .nav-wrapper {
        display: block !important;
    }

    .footer-right {
        float: none;
        text-align: center;
    }

    #section-4 {
        background-position-x: -555px !important;
    }

    .subscribe-block .ada-button {
        width: 170px;
    }

    .subscribe-block {
        margin: 30px 0px;
    }

    #subscribe-email {
        width: -moz-available;
        /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        width: fill-available;
    }

    .ll-quote blockquote {
        margin-left: 40px;
        margin-right: 40px;
    }

    #blog-single h2 {
        margin-left: 0;
        text-align: center;
    }

    .content-share {
        margin-top: 10px;
        text-align: center;
    }

    .flex.content-share {
        margin: 15px auto 0 auto;
    }

    .content-title {
        text-align: center;
    }

    .content-body {
        text-align: center;
    }

    .progress-bar .step-images img:first-child {
        padding-left: 9%;
    }

    .progress-bar .step-images img:last-child {
        padding-right: 9%;
    }

    .cert-shipping-header {
        font-size: 34px;
        font-family: 'Josefin Sans';
        color: #ffffff;
        line-height: 40px;
    }

    .page-top-spacing {
        margin-top: 50px;
    }

    .flex-inline-label span:first-child {
        text-align: center;
    }

    .submit.flex.right {
        justify-content: center;
    }

    .post-grid article {
        text-align: center !important;
    }

}

/* Tablet-portrait */
@media(min-width:600px) {

    /*.header-content-left{width:15%;}*/
    .header-content-center {
        width: 65%;
    }

    .section-5-quote {
        font-size: 24px;
    }

    .subscribe-block .ada-button {
        width: 200px;
    }

    #lm_logo {
        margin-top: 20px;
    }
}

@media(max-width:899px) {
    .author-wrapper {
        text-align: center;
    }

    .author-img {
        width: 100%;
    }

    .author-blurb {
        width: 100%;
    }

    .nav-wrapper .nav-menu .nav-list {
        text-align: center;
    }

    .footer-left .nav-wrapper {
        display: flex;
        flex-direction: column;
    }

    .nav-menu.social-links,
    .nav-wrapper .nav-menu .nav-list {
        text-align: center;
    }

    .footer-left .nav-wrapper a {
        width: initial;
    }

    .nav-menu.social-links {
        margin-bottom: 20px;
    }

    .page-top-spacing {
        margin-top: 75px;
    }

    .copyright {
        margin: 10px auto;
    }

    .footer-left .nav-wrapper {
        font-size: 22px;
    }
}

@media(max-width:800px) {
    #site-footer .grid {
        flex-direction: column;
    }

    #site-footer .nav-menu {
        text-align: center;
    }

    #site-footer .footer-center {
        margin: auto;
    }

    #site-footer .footer-right {
        flex-direction: column;
    }

    #site-footer .footer-bottom div:nth-child(2) {
        margin: auto;
        max-width: 70%;
    }
}

/* Tablet-landscape */
@media(min-width:900px) {
    .author-img {
        width: 15%;
    }

    .author-blurb {
        width: 85%;
    }

}

/* Desktop */
@media(min-width:1200px) {}


#mobile-nav .nav-spacer {
    border-left: unset;
}

body.mobile_nav_open #mobile-nav {
    transform: unset;
    -webkit-transform: unset;
    visibility: visible;
}

.disabled .protocol-select {
    display: none;
}


.nav-menu.nav-social .social-linkedin,
.nav-menu.nav-social .social-youtube,
.nav-menu.nav-social .social-googleplus,
.nav-menu.nav-social .social-instagram {
    display: inline-block;
}

ul.nav-menu.nav-social.social-links {
    display: flex;
}