.input-wrap{
	display:flex;
	align-items:center;
	padding:20px 0;
	max-width:80%;
	margin: 0 auto;
}
.input-wrap{
	justify-content:space-around;
	margin: auto;
	font-weight:700;
}
.submit-button{
	margin-top:15px;
	background-color:#3F3244;
	color:#fff;
	border-radius:3px;
}
.body-wrap{text-align: center;}
.head-wrap{text-align:center;padding-bottom:10px;}
.msg{color:red;padding-top: 10px;font-size:20px;}
.body-top.msg{text-align:center;}
.website-select{margin-bottom: 30px;}
.select-wrap{width:max-content;margin:auto;} 